<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatmapServlet</servlet-name>
        <servlet-class>Servlet.HeatmapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKPopularPlacesServlet</servlet-name>
        <servlet-class>Servlet.TopKPopularPlacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKCompanionServlet</servlet-name>
        <servlet-class>Servlet.TopKCompanionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutomaticGroupDetectionServlet</servlet-name>
        <servlet-class>Servlet.AutomaticGroupDetectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKNextPlaces</servlet-name>
        <servlet-class>Json.TopKNextPlacesJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatmapServlet</servlet-name>
        <url-pattern>/HeatmapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKPopularPlacesServlet</servlet-name>
        <url-pattern>/TopKPopularPlacesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKCompanionServlet</servlet-name>
        <url-pattern>/TopKCompanionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomaticGroupDetectionServlet</servlet-name>
        <url-pattern>/AutomaticGroupDetectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJson</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatmapJson</servlet-name>
        <url-pattern>/json/heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKNextPlacesJson</servlet-name>
        <url-pattern>/json/top-k-next-places</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
